.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
}

.loading {
    opacity: 0.3;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.form-field {
    width: 100%;
}

.actions-box {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    width: 100%;
}

.mat-error {
    align-self: flex-start;
    margin: 5px;
}
